<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Kosy's ToDo Application</title>
        <link th:href="@{/css/register.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{/js/register.js}" type="text/javascript" ></script>
    </head>
    <body>
        <form id="registerForm" th:action="@{/register}" th:object="${user}" method="POST">
            
            <div id="userNameLabel"><label> User Name </label></div>
            <div id="userNameInput"><input type="text" th:field="*{name}"/></div>

            <div id="passWordLabel"><label> Password </label></div>
            <div id="passWordInput"><input type="password" th:field="*{password}"/></div>

            <div id="emailLabel"><label> Email </label></div>
            <div id="emailInput"><input type="text" th:field="*{email}"></div>

            <div id="loginPageButtonsHolder">
                <input id="signInButton" type="submit" value="Register" />
                <input id="signInButton" type="submit" value="Cancel" /> 
            </div>
            
        </form>
    </body>
</html>